.nom h3{
    font-size: 5vh;
    font-style:italic ;
}

.agent {
    margin-left: 50vh;
}



   

.FORM{
    margin-left: 80vh;
    margin-top: 10vh;

}
.ab{
    display: flex;
    flex-direction: row;
}

.cd{
    display: flex;
    flex-direction: row;

}
.competence h1{

    margin-left: 15vh;
}

.EXP h1{

    margin-left: 15vh; 
}
.photo{
    width: 45vh; 
    height: 58vh;
}